
.col6 {
  flex: 50%;
  max-width: 50%;
}
.graphTitle{
  margin: 20px 10px 12px 10px;
  line-height: 22px;
  font-size: 16px;
  margin-right: 0px;
  color: #333333;
  display: grid;
  grid-template-columns: auto max-content;
  font-weight: 600;
  padding-right: 8px;
  grid-column-gap: 6px;
}
@media (max-width: 1060px){
.col6 {
    flex: 100%;
    max-width: 100%;
}}

#mobile{
  display: none;
}
@media (max-width: 760px){
  #mobile{
    display: block;
    padding: 24px 24px 24px 24px;
    border-top: #ddd 1px solid;
    margin-top: 15px;
  }
}