.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  justify-content: left;
  width: 50%;
}
.col6 {
  flex: 50%;
  max-width: 100%;
}
.test {
  height: 420px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  position: relative;
}
