.info {
  padding: 0px 24px;
  width: 100%;
  margin-left: -24px;
  overflow-y: scroll;
}
.areas {
  padding: 24px;
  width: 100%;
  margin-left: -24px;
}
.divArea {
  margin-bottom: 12px;
}
.country {
  display: flex;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 16px;
  user-select: none;
  position: relative;
  flex: 1;
  align-items: center;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  cursor: pointer;
}
.tabCountry {
  width: 320px;
  padding: 0px 24px 0 24px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.05);
  z-index: 201;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.searchCountrie {
  padding-top: 16px;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 24px;
  cursor: auto !important;
}
input {
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 12px;
  display: flex;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 16px;
  user-select: none;
  position: relative;
  flex: 1;
  align-items: center;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.country:hover {
  border-color: #2196f3;
}
.divArea:hover {
  color: #2196f3;
}
.active {
  color: #2196f3 !important;
  border-color: #2196f3;
}
.countrieContent {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  top: 58px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 6px 6px;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 290px;
  overflow-x: auto;
}
.areaTotal{
  color: #767676;
}
.areaName{
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

