body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.pageWhole {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.titleHeader {
  min-width: 218px;
}
.titleHeader:visited {
  color: #222;
}
.titleHeader {
  text-decoration: none;
}
.namePage {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 24px;
}
.content {
  display: flex;
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.listCountry {
  width: 320px;
  padding: 0px 24px 0 24px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.05);
  z-index: 201;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.vertical {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: auto;
}
.verticalHeader {
  background: rgba(247, 247, 247, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 12px 24px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.location {
  display: flex;
  align-items: center;
}
.locationTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding: 4px 0;
}
.verticalContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.graph {
  margin-top: 90px;
  background-color: #f9f9f9;
  padding-bottom: 96px;
}
.verticalContent .graph .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  justify-content: left;
}
#mobile{
  display: none;
}
@media (max-width: 1060px){
  #mobile{
    display: block;
  }
  .listCountry {
     display: none;
 }}
